.content{
    border-radius: 2px;
    padding: 80px 56px;
    margin-bottom: 80px;
}

.is-small-screen .content img{
    width: 100%;
}

.post-card{
    width: 100%;
}

img{
	border:1px solid #000000;
	box-shadow: 10px 10px 10px 5px #cccccc;
	margin-bottom: 20px;
}

.pagination{
	margin-top: 50px;
	width: 100%;
    text-align: center;
}
