---
layout: default
title: Faisal Programming Blog
---

<div id="home">
    {% for post in paginator.posts %}
    <div class="mdl-card mdl-shadow--2dp post-card">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{ post.title }}<small>{{ post.date | date_to_string }}</small></h2>
        </div>
        <div class="mdl-card__supporting-text">
       	    {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ post.url }}">
               Selengkapnya
            </a>
        </div>
    </div>
    <br />
    {% endfor %}

    {% if paginator.total_pages > 1 %}
    <!--Newest Post-->
    <div class="pagination">
      <div class="btn-group">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn-primary">&laquo; Lebih Baru</a>
      {% else %}
        <span class="btn btn-primary disabled" >&laquo; Lebih Baru</span>
      {% endif %}

      <!--Previous Post-->
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"  class="btn btn-primary">Lebih Lama &raquo;</a>
      {% else %}
        <span class="btn btn-primary disabled">Lebih Lama &raquo;</span>
      {% endif %}
      </div>
    </div>
    {% endif %}
</div>
