<!DOCTYPE html>
<html class="mdl-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="Programming blog, tips and tricks and web developments">
        <meta name="keywords" content="programming,java,blog,indonesia,it">
        <meta name="author" content="Muhamad Faisal Abdillah">
        <meta name="viewport" content="width=device-width">
        <link href="{{site.url}}/assets/icons/favicon.ico" rel="icon" type="image/x-icon">
        <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
    <div class="mdl-layout mdl-layout--fixed-header mdl-js-layout">
        <header class="mdl-layout__header mdl-layout__header--scroll">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">faitz.github.io</span>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="#About">About</a>
                    <a class="mdl-navigation__link" href="#Service">Service</a>
                    <a class="mdl-navigation__link" href="#Contact">Contact</a>
                </nav>
            </div>
        </header>
        <main class="mdl-layout__content">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-table mdl-cell--hide-phone"></div>
                <div class="mdl-collor--white mdl-color-text--grey-800 mdl-cell--8-col">
                    {{content}}
                </div>
            </div>
        </main>
        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer--left-section">
                <ul class="mdl-mini-footer--link-list">
                    <li><a href="https://github.com/faitz">github.com/faitz</a></li>
                    <li><a href="https://twitter.com/muhfaisalabd">twitter.com/muhfaisalabd</a></li>
                    <li><a href="https://plus.google.com/+FaisalAbdillah?rel=author">Google+</a></li>
                </ul>
            </div>
        </footer>
    </div>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
    </body>
</html>
